.SavingSetupStepBasics {
	width: 100%;

	.Inputs {
		padding-top: 10px;
		left: 100px;
	
		position: relative;
	}

	.SetupGrid {
		margin: 50px 100px;
	}

	.Currency {
		margin-left: 3px;
		font-size: 25px;
	}
}