.ChatRoomContainer {
	height: 100%;

	.Header {
		margin: 2px;

		.BackButton {
			cursor: pointer;

			img {
				height: 24px;
				width: 24px;
			}
		}

		.Receiver {
			margin-left: 5px;

			.Name {
				margin-left: 2px;
			}
		}
	}

	.Messages {
		height: 75%;
	}
}