@using MooMed.Frontend.Views
@model MooMed.Frontend.Models.ControllerMetaData

@{
    Layout = "~/Views/Shared/Other/_OtherLayout.cshtml";
}

<div
	id="landingContainer"
	class="landingContainer">
</div>

@MooMedHtmlHelper.TranslationFile(Model.UiLanguage)