@using MooMed.Web.Views
@model MooMed.Web.Models.ControllerMetaData

@{
    ViewBag.Title = "Home Page";
}

<div id="content" style="height: 100%"></div>

@MooMedHtmlHelper.TranslationFile(Model.UiLanguage)