<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="Config">
      <Parameter Name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" Value="UseDevelopmentStorage=true" />
      <Parameter Name="MooMed.Email.Name" Value="MooMedFinance@gmail.com" />
      <Parameter Name="MooMed.Email.Password" Value="V8tlzDYGzrCozy3X1CvzrQ==" />
      <Parameter Name="MooMed.ProfilePictures.StorageAccountUrl" Value="https://moomedprofilepictures.blob.core.windows.net" />
      <Parameter Name="MooMed.ProfilePictures.ConnectionString" Value="DefaultEndpointsProtocol=https;AccountName=moomedprofilepictures;AccountKey=XLMa/K9ukAcqkd1eGXuD5tgGNPaVTdo5JK+nCny3ymdC8zhpAjPfXWyk5oJGNS+fBkA9lERn/+tSSkWFDgRcd37gT0sRqMTvb0FnqQbSl9s=;EndpointSuffix=core.windows.net" />
      <Parameter Name="MooMed.LogFileName" Value="MooMedLog" />
      <Parameter Name="MooMed.Logging.IntervalForOverflowCheckerInSeconds" Value="600" />
      <Parameter Name="MooMed.Logging.TableStorageConnectionString" Value="DefaultEndpointsProtocol=https;AccountName=moomedlogging;AccountKey=1rEbbmw2nWJlxJ7QViS+h8f87x2PHbcEok6ypY4A+SRGHAJZHYa0w+9TTdlm4fQGTYZp7slZs7lTgTwM4WCWSr5ZJOPFG6sakSZ9/SZk1sE=;EndpointSuffix=core.windows.net" />
      <Parameter Name="MooMed.IV" Value="mN/xDqijx3EVb69j98OdNueyrkuqjIHuVWCikALjLi5umlg4iS713N6ZKoXcsL+xkmIlEr3DXoDWGXO/LuvS0zs11f9yNbOpN7et0OU3xIH/T3suy4vPN3YXO86UkFCISEU/ntQ9CO+xkPgTGlY/iTGnEDcApVwOpFGFe33PpXWyPVW3VBU4yg3fH4ZRlAe93EPa6tLrXs73pBmpXsFCxHy03+rWTqIX/Uz6MGhoe+UIgun0LoHYaanG8LRswoZgCWPNGtGxwwrG0bcSREJThuDRWYWc6Rb7hn/MbFnfekFHdUWrIetYHTDt7iRXt/pj0bluclEGUNoGvLxGy7Sspg==" />
      <Parameter Name="MooMed.Key" Value="izyTzc49vAfJ4x5wZSq+EZBhGBtLlAQiCcFnRQlMhV6+3fJT1z35m4ITJ3/XE2YX+oNu9Z+UtVCGXN64+Izm+EAzZZiPk+cZ4OQ0wXQ2RoTnHsQODmpdl3oGltYOA6AzGvlVwQ6N4c6zZ4ikHKWqcn0gu72Adg259YpiJdcTwAaO2tO1C7Z6ykwYk2p2PPvG8GNmnevXu2YYiiNhswP35R2/CrK2YcWpxNhkAydsvLG8YTFDCQjsO+D527nCVu33TDKpbE1xymeZadz4jmPqAnpowUyjzLotjwPGncfmv1bHKEpjCckb7RjEvc6Y4gr0K51WW6mRV7Ms0ks4abcJFQ==" />
      <Parameter Name="MooMed.AlphaVantage.ApiKey" Value="nQmRiIEts4g/IhAhu0pLhw=="/>
      <Parameter Name="MooMed.WTD.ApiKey" Value="nKu5QC4ZYMzfePE7GJvRG1AJkraJoSok+2WJscNtksPTiXkIUa/eFWWofcWbAakGdDgO33Sm7AxK98slxO32jQ=="/>
  </Section>
</Settings>
