@using MooMed.Web.Views
@model MooMed.Web.Models.ControllerMetaData

@{
    Layout = "~/Views/Shared/Landing/_LandingLayout.cshtml";
}

<div id="logonPageHolder" style="height: 100%; width: 100%"></div>

@MooMedHtmlHelper.TranslationFile(Model.UiLanguage)